.hero {
  // @include background-image(linear-gradient(to bottom right, rgba(31,118,211,1), #dddddd));
  background-color: rgba(21, 21, 62, 0.84);
  position: relative;
  padding-top: 10px;
  color: #cdbfe3;
  text-align: center;
  padding-bottom: 40px;
}


.site-footer {
  background-color: rgba(21, 21, 62, 0.84);
}