$font-family: ('Open Sans', Helvetica, sans-serif);
$font-family-heading: ('Amiri', Helvetica, sans-serif);
$font-weight: 400;
$font-weight-bold: 600;
$font-weight-heading: 500;
$font-weight-heading-bold: 700;
$font-weight-heading-extrabold: 800;